# Xcode

## User settings
xcuserdata/

## Xcode
*.xcscmblueprint
DerivedData/
*.moved-aside
*.xcuserstate
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

## SPM
.build/
.swiftpm/
Package.pins
Package.resolved.orig

## Obj-C/Swift specific
*.hmap

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## macOS
.DS_Store

## CI / local build output
/build/
